/* line 1, ../../lib/Resources/public/sass/mediamanager.scss */
.link {
  cursor: pointer;
}

/* line 5, ../../lib/Resources/public/sass/mediamanager.scss */
.libraries-grid, .files-grid {
  margin: 0;
  padding: 0;
}
/* line 9, ../../lib/Resources/public/sass/mediamanager.scss */
.libraries-grid > li, .files-grid > li {
  display: inline-block;
  width: 25%;
  border: 1px solid #cacaca;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  vertical-align: top;
}
/* line 18, ../../lib/Resources/public/sass/mediamanager.scss */
.libraries-grid > li .icon, .files-grid > li .icon {
  text-align: center;
  font-size: 48px;
  display: inline-block;
  margin: auto;
}

/* line 28, ../../lib/Resources/public/sass/mediamanager.scss */
.filters-list > li {
  width: calc(33.33333333% - 10px);
  float: left;
  margin-right: 10px;
}
/* line 33, ../../lib/Resources/public/sass/mediamanager.scss */
.filters-list > li:nth-child(3) {
  margin-right: 0;
  width: 33.33333333%;
}
/* line 38, ../../lib/Resources/public/sass/mediamanager.scss */
.filters-list > li .range-prefix:before {
  content: '-';
  left: -4px;
  position: absolute;
  top: 6px;
}
@media screen and (max-width: 970px) {
  /* line 28, ../../lib/Resources/public/sass/mediamanager.scss */
  .filters-list > li {
    width: 100%;
  }
}

/* line 51, ../../lib/Resources/public/sass/mediamanager.scss */
.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 60, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-plus:before {
  content: "\f055";
}

/* line 64, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-library:before {
  content: "\f02d";
}

/* line 68, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-image:before {
  content: "\f1c5";
}

/* line 72, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-pdf:before {
  content: "\f1c1";
}

/* line 76, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-audio:before {
  content: "\f1c7";
}

/* line 80, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-video:before {
  content: "\f1c8";
}

/* line 84, ../../lib/Resources/public/sass/mediamanager.scss */
.icon-file:before {
  content: "\f016";
}
