<div class="col-xs-12" role="application">
    <form method="POST" action="{{ action }}"  enctype="multipart/form-data" id="library-form">
        <div class="form-group">
            <label class="control-label" for="mm_library_name">{{ i18n.library.name }}</label>
            <input class="form-control" type="text" name="library_name" id="mm_library_name" />
        </div>
    </form>
</div>