<div class="col-xs-12" role="application">
    <legend>{{ i18n.file.add }}</legend>
    <form method="POST" action="{{ action }}" enctype="multipart/form-data" id="file-form">
        <div class="form-group">
            <label class="control-label" for="mm_file_file">{{ i18n.file.file }}</label>
            <input class="form-control" type="file" name="file_file" id="mm_file_file" />
        </div>
        <div class="form-group">
            <label class="control-label" for="mm_file_name">{{ i18n.file.name }}</label>
            <input class="form-control" type="text" name="file_name" id="mm_file_name" />
        </div>
    </form>
</div>