<div class="col-xs-12" role="application">
    <legend>{{ i18n.file.title }}</legend>

    <div class="file-preview">
        {{# file.imagePreview}}
            <img src="{{ path }}" class="img-responsive" />
        {{/file.imagePreview}}
        {{# file.audioPreview}}
            <audio controls>
                <source src="{{ file.path }}" type="{{ file.type }}">
                Your browser does not support the audio element.
            </audio>
        {{/file.audioPreview}}
        {{# file.videoPreview}}
            <video controls>
                <source src="{{ file.path }}" type="{{ file.type }}">
                Your browser does not support the video element.
            </video>
        {{/file.videoPreview}}

        {{# file.noPreview}}
            <div class="placeholder">
                <i class="icon icon-cancel"></i>
                <h3>{{ i18n.file.no_preview }}</h3>
            </div>
        {{/file.noPreview}}
    </div>

    <div class="file-info">
        <small>{{ i18n.file.size }}: {{ file.sizeWithUnit }}<br />
        <small>{{ i18n.file.created }}: {{ file.date }}</small>
    </div>
</div>