<div class="col-xs-12">
    <legend>{{ i18n.filters.title }}</legend>

    <ul class="filters-list" role="menu">
        {{# availableFilters}}
        <li>
            <div class="form-group">
                <label class="control-label">{{ name }}</label>

                {{# filtersSelect}}
                    <select class="form-control" data-type="{{ type }}" value="{{ value }}">
                        {{# filterOptions}}
                            <option value="{{ value }}">{{ text }}</option>
                        {{/filterOptions}}
                    </select>
                {{/filtersSelect}}
                {{# filtersText}}
                    <input type="text" class="form-control" name="{{ type }}" value="{{ value }}" />
                {{/filtersText}}
            </div>
        </li>
        {{/availableFilters}}
    </ul>
</div>