<div class="col-xs-12 col-md-9" role="application">
    <legend>{{ i18n.library.list.title }}</legend>

    <ul class="libraries-grid" id="library-list" role="grid">
        {{# libraries}}
            <li>
                <div class="library-element link" role="definition" data-id="{{ id }}" data-name="{{ name }}">
                    <div class="icon-holder">
                        <span class="icon icon-library"></span>
                    </div>
                    <h4>{{ name }}</h4>
                    <p class="additional">
                        <small>{{ i18n.library.count }}: {{ filesCount }}</small> <br />
                        <small>{{ i18n.library.created }}: {{ date }}</small>
                    </p>
                </div>
            </li>
        {{/libraries}}
    </ul>
</div>