<div class="col-xs-12" role="application">
    <legend>{{ i18n.library.list.title }}</legend>

    <ul class="libraries-grid" id="library-list" role="grid">
        {{# libraries}}
            <li>
                <div class="library-element link" role="definition" data-id="{{ id }}" data-name="{{ name }}">
                    <div class="icon-holder">
                        <span class="icon icon-library"></span>
                    </div>
                    <h4>{{ name }}</h4>
                    <p class="additional">
                        <small>{{ i18n.library.count }}: {{ count }}</small> <br />
                        <small>{{ i18n.library.created }}: {{ date }}</small>
                    </p>
                </div>
            </li>
        {{/libraries}}
        <li>
            <div class="add-library link" role="definition">
                <div class="icon-holder">
                    <span class="icon icon-plus"></span>
                </div>
                <h4>{{ i18n.library.add }}</h4>
            </div>
        </li>
    </ul>
</div>