<div class="col-xs-12" role="application">
    <legend>{{ i18n.library.files.title }}</legend>

    <ul class="files-grid" id="library-files-list" role="grid">
        {{# files}}
            <li>
                <div class="file-element link" role="definition" data-id="{{ id }}" data-name="{{ name }}">
                    <div class="icon-holder">
                        <span class="icon icon-{{ type }}"></span>
                    </div>
                    <h4>{{ name }}</h4>
                    <p class="additional">
                        <small>{{ i18n.file.size }}: {{ sizeWithUnit }}</small> <br />
                        <small>{{ i18n.file.created }}: {{ date }}</small>
                    </p>
                </div>
            </li>
        {{/files}}
        <li>
            <div class="add-file link" role="definition">
                <div class="icon-holder">
                    <span class="icon icon-plus"></span>
                </div>
                <h4>{{ i18n.file.add }}</h4>
            </div>
        </li>
    </ul>
</div>