<div class="col-xs-12 col-md-3" role="menu">
    <legend>{{ i18n.menu.title }}</legend>

    <ul class="list list-unstyled">
        {{# libraries}}
        <li class="library-link" data-id="{{ id }}">{{ name }}</li>
        {{/libraries}}
        <li class="add-library">{{ i18n.add_library }}</li>
    </ul>
</div>