<div class="col-xs-12" role="menu">
    <legend>{{ i18n.menu.title }}</legend>

    <ul class="list list-unstyled">
        {{# libraries}}
        <li class="library-link" data-id="{{ id }}">
            <a href="#library-{{ id }}}">
                {{ name }}
            </a>
        </li>
        {{/libraries}}
        <li><hr /></li>
        <li class="add-library">

            <a href="#add-library">
                {{ i18n.library.add }}
            </a>
        </li>
    </ul>
</div>